@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  font-family: 'Rubik', sans-serif;
}

input, textarea, select, button {
  font-family: inherit;
}